.wrap {
    padding: 8px 1em;
    border-radius: 9999px;
    background-color: rgb(242, 243, 245);
    outline: 0;
    border: 0;
}

.check {
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: 1px solid rgb(110, 118, 125);
    border-radius: 2px;
}

.wrap:checked + .check {
    position: relative;
    background-color: rgb(102, 194, 242);
    outline: 1px solid rgb(102, 194, 242);
}

.wrap:checked + .check:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 3px;
    top: 50%;
    left: 50%;
    border-radius: 9999px;
    transform: 
        translate(-50%, -50%)
        translateY(-2px)
        translateX(-1px)
        rotate(45deg)
        translateY(5px)
        translateX(1px);
}

.wrap:checked + .check:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 12px;
    height: 3px;
    top: 50%;
    left: 50%;
    border-radius: 9999px;
    transform:
        translate(-50%, -50%) 
        translateY(-2px)
        translateX(-1px)
        rotate(45deg) 
        rotate(90deg) 
        translateY(-3px);
}