* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    color: #fff;
}

html {
    background-color: #000;
}

button {
    display: inline-block;
    font-size: 100%;
    outline: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

input {
    outline: 0;
    border: 0;
    letter-spacing: 0.1em;
    background-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    background: #ff0000;
}